/.vs/ASP.NET_WebAPI6/DesignTimeBuild/.dtbcache.v2
/.vs/ASP.NET_WebAPI6/FileContentIndex/690a3cb3-96ed-4b36-9255-0186ae24546f.vsidx
/.vs/ASP.NET_WebAPI6/FileContentIndex/d4f56ba2-c484-4d2c-8c67-445cdbd3f759.vsidx
/.vs/ASP.NET_WebAPI6/FileContentIndex/db25df3c-8772-4c4a-a3a2-c683b059186d.vsidx
/.vs/ASP.NET_WebAPI6/FileContentIndex/fb480cba-4aa7-49c8-93dc-2379b48e76cb.vsidx
/.vs/ASP.NET_WebAPI6/DesignTimeBuild/.dtbcache.v2
/.vs/ASP.NET_WebAPI6/FileContentIndex/fe93fe89-e98f-4b00-8c2b-2f7b29c1b2db.vsidx
/.vs/ASP.NET_WebAPI6/v17/.suo
/ASP.NET_WebAPI6/bin/Debug/net6.0/ASP.NET_WebAPI6.dll
/ASP.NET_WebAPI6/bin/Debug/net6.0/ASP.NET_WebAPI6.exe
/ASP.NET_WebAPI6/bin/Debug/net6.0/ASP.NET_WebAPI6.pdb
/ASP.NET_WebAPI6/obj/Debug/net6.0/apphost.exe
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.AssemblyInfo.cs
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.AssemblyInfoInputs.cache
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.dll
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.pdb
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.sourcelink.json
/ASP.NET_WebAPI6/obj/Debug/net6.0/ref/ASP.NET_WebAPI6.dll
/ASP.NET_WebAPI6/obj/Debug/net6.0/refint/ASP.NET_WebAPI6.dll
/Laragon_Web/.DS_Store
/.vs/ASP.NET_WebAPI6/DesignTimeBuild/.dtbcache.v2
/.vs/ASP.NET_WebAPI6/v17/.suo
/ASP.NET_WebAPI6/bin/Debug/net6.0/ASP.NET_WebAPI6.dll
/ASP.NET_WebAPI6/bin/Debug/net6.0/ASP.NET_WebAPI6.exe
/ASP.NET_WebAPI6/bin/Debug/net6.0/ASP.NET_WebAPI6.pdb
/ASP.NET_WebAPI6/obj/Debug/net6.0/apphost.exe
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.AssemblyInfo.cs
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.AssemblyInfoInputs.cache
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.dll
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.pdb
/ASP.NET_WebAPI6/obj/Debug/net6.0/ASP.NET_WebAPI6.sourcelink.json
/ASP.NET_WebAPI6/obj/Debug/net6.0/ref/ASP.NET_WebAPI6.dll
/.vs/ASP.NET_WebAPI6/DesignTimeBuild/.dtbcache.v2
/ASP.NET_WebAPI6/obj
/ASP.NET_WebAPI6/obj/Debug
/.vs/ProjectEvaluation/asp.net_webapi6.metadata.v7.bin
/.vs/ASP.NET_WebAPI6/v17/.futdcache.v2
/.vs/ASP.NET_WebAPI6/FileContentIndex
/.vs/ProjectEvaluation/asp.net_webapi6.projects.v7.bin
