body {
    background-color: #E4E9F7;
}

.espacamento {
    margin-top: 40px;
    margin-left: 80px;

}

table {
    border: 2px solid black;
    width: 100%;
    text-align: center;
}

th {
    border-bottom: 2px solid black;
    color: white;
    background-color: #11101d;
    font-weight: normal;
}

td {
    border-bottom: 1px solid black;
}

h3 {
    text-align: center;
    color: #11101d;
}
